<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SYSTEM_EXEMPTED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.XiVPN"
        tools:targetApi="31">

        <activity
            android:name=".ui.SplitTunnelActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ProxyChainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.GeoAssetsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.RuleActivity"
            android:exported="false" />
        <activity
            android:name=".ui.RulesActivity"
            android:exported="false" />
        <activity
            android:name=".ui.LicensesActivity"
            android:exported="false" />
        <activity
            android:name=".ui.PreferenceActivity"
            android:exported="false" />
        <activity
            android:name=".ui.CrashActivity"
            android:exported="false" />
        <activity
            android:name=".ui.SubscriptionsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ShadowsocksActivity"
            android:exported="false" />
        <activity
            android:name=".ui.VmessActivity"
            android:exported="false" />
        <activity
            android:name=".ui.VlessActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ProxiesActivity"
            android:exported="false" />
        <activity
            android:name=".ui.TrojanActivity"
            android:exported="false" />
        <activity
            android:name=".ui.WireguardActivity"
            android:exported="false" />
        <activity
            android:name=".ui.XHttpStreamActivity"
            android:exported="false" />

        <provider
            android:name=".service.FilesProvider"
            android:authorities="io.github.exclude0122.xivpn.files"
            android:exported="true"
            android:grantUriPermissions="true"
            android:permission="android.permission.MANAGE_DOCUMENTS">
            <intent-filter>
                <action android:name="android.content.action.DOCUMENTS_PROVIDER" />
            </intent-filter>
        </provider>

        <service
            android:name=".service.XiVPNService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="systemExempted"
            android:permission="android.permission.BIND_VPN_SERVICE"
            tools:ignore="ForegroundServicePermission">
            <meta-data
                android:name="android.service.quicksettings.TOGGLEABLE_TILE"
                android:value="true" />

            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>
        </service>
        <service
            android:name="androidx.work.impl.foreground.SystemForegroundService"
            android:foregroundServiceType="shortService"
            tools:node="merge" />
        <service
            android:name=".service.XiVPNTileService"
            android:exported="true"
            android:icon="@drawable/tile_icon"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <activity
            android:name=".ui.MainActivity"
            android:launchMode="singleTask"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>